* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/fonts/Avenir Next LT Pro Regular.otf"), url("../assets/fonts/Avenir Next LT Pro Bold.otf") format("opentype");
}
body {
  background-color: rgba(84, 95, 125, 0.1490196078);
  line-height: 1.6;
}

.login-page {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: "AvenirNextLTPro", sans-serif;
}
.login-page .login-image-container {
  height: 100dvh;
  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.1803921569);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-page .login-image-container img {
  display: block;
}
.login-page .login-image-container .logo-container {
  position: absolute;
  top: 70px;
}
.login-page .login-form-container {
  width: 45%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  line-height: 2.5rem;
  height: 100dvh;
}
.login-page .login-form-container .login-form {
  height: 100%;
}
.login-page .login-form-container .login-form .login-form-header {
  margin-bottom: 2rem;
}
.login-page .login-form-container .login-form h1 {
  color: #213f7d;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -4%;
}
.login-page .login-form-container .login-form p {
  color: #545f7d;
}
.login-page .login-form-container .login-form input {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 1rem;
  border-radius: 5px;
  border: 1px solid #545f7d;
  outline: none;
}
.login-page .login-form-container .login-form label {
  display: block;
  margin-top: 1.5rem;
  position: relative;
}
.login-page .login-form-container .login-form input::-moz-placeholder {
  color: #545f7d;
}
.login-page .login-form-container .login-form input::placeholder {
  color: #545f7d;
}
.login-page .login-form-container .login-form .forgot-password {
  text-decoration: none;
  color: #39cdcc;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 10%;
  font-size: 12px;
}
.login-page .login-form-container .login-form .forgot-password:hover {
  color: #36b8b0;
}
.login-page .login-form-container .login-form .showpassword {
  position: absolute;
  bottom: 10%;
  right: 5%;
  color: #39cdcc;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 10%;
  text-transform: uppercase;
  cursor: pointer;
}
.login-page .login-form-container .login-form .showpassword:hover {
  color: #36b8b0;
}
.login-page .login-form-container .login-form button {
  width: 100%;
  height: 48px;
  text-transform: uppercase;
  background-color: #39cdcc;
  color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2rem;
}
.login-page .login-form-container .login-form button:hover {
  background-color: #36b8b0;
}

@media (max-width: 1200px) {
  .login-page {
    flex-direction: column;
  }
  .login-page .login-image-container {
    width: 100%;
    height: 100vh;
    padding: 2rem;
  }
  .login-page .login-image-container img {
    width: 100%;
  }
  .login-page .login-image-container .login-image-container {
    display: block;
  }
  .login-page .login-image-container .logo-container {
    position: static;
  }
  .login-page .login-form-container {
    height: 50vh;
    width: 100%;
    padding: 2rem;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #fff;
}
@media (max-width: 870px) {
  .header {
    flex-direction: column;
    row-gap: 10px;
  }
}
.header .header-search {
  display: flex;
  width: 400px;
  align-items: center;
  border-radius: 8px;
  position: relative;
}
@media (max-width: 500px) {
  .header .header-search {
    width: 100%;
  }
}
.header .header-search .header-search-input {
  border: 1px solid #213f7d;
  flex: 1;
  padding: 10px 15px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  font-size: 14px;
  color: #213f7d;
}
.header .header-search .header-search-input::-moz-placeholder {
  font-family: "Work Sans", sans-serif;
  color: #213f7d;
}
.header .header-search .header-search-input::placeholder {
  font-family: "Work Sans", sans-serif;
  color: #213f7d;
}
.header .header-search .search-icon {
  background-color: #2fd7de; /* teal button */
  border: 2px solid #2fd7de;
  padding: 10.3px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  right: 2px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.header .header-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.header .header-avatar a {
  font-family: "Roboto", sans-serif;
  color: #213f7d;
  font-weight: 400;
  font-size: 14px;
}
.header .header-avatar a:hover {
  color: rgba(33, 64, 125, 0.5607843137);
}
.header .avatar-image {
  border-radius: 50%;
}
.header p {
  font-family: "Work Sans", sans-serif;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
@media (min-width: 1200px) {
  .menu {
    display: none;
  }
}

.menu div {
  background-color: #213f7d;
  width: 20px;
  height: 4px;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
}
.navigation {
  background-color: rgba(255, 255, 255, 0.7294117647);
  font-family: "Work Sans", sans-serif;
  width: 20%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .navigation {
    padding-top: 40px;
    position: absolute;
    background-color: rgb(241, 241, 241);
    z-index: 1;
    width: 60%;
  }
}
.navigation ul {
  list-style-type: none;
}
.navigation a {
  text-decoration: none;
  color: #213f7d;
}
.navigation a:hover {
  color: rgba(33, 64, 125, 0.5607843137);
}
.navigation .navigation-list li {
  padding-left: 10px;
}
.navigation .navigation-list .navigation-select {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.navigation .navigation-list .navigation-select select {
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0 10px;
  font-size: 14px;
  color: #213f7d;
  background-color: transparent;
  outline: none;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}
.navigation .navigation-list .navigation-dashboard {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}
.navigation .navigation-list .customers-title,
.navigation .navigation-list .business-title,
.navigation .navigation-list .settings-title {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0px;
  color: #545f7d;
  margin: 10px 0;
  padding-left: 10px;
}
.navigation .navigation-list .navigation-customers {
  display: flex;
  gap: 15px;
  margin-bottom: 16px;
  font-size: 16px;
}
.navigation .navigation-list .navigation-customers:has(.active) {
  border-left: 3px solid #39cdcc;
  background-color: rgba(55, 205, 205, 0.147);
}
.navigation .navigation-footer {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #213F7D;
  border-top: 1px solid rgba(33, 64, 125, 0.1137254902);
}
.navigation .navigation-footer div a {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 80px;
  gap: 10px;
  cursor: pointer;
}

.users-container {
  font-family: "Work Sans", sans-serif;
  padding: 60px 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .users-container {
    width: 100%;
  }
}
.users-container .users-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-bottom: 50px;
  color: #213f7d;
}
.users-container .userscard-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}
.users-container .user-card {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(33, 63, 125, 0.0588235294);
  text-transform: uppercase;
  width: 240px;
  height: 160px;
  padding: 20px;
}
@media (max-width: 1200px) {
  .users-container .user-card {
    width: 100%;
  }
}
.users-container .user-card p {
  color: #545f7d;
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0;
}
.users-container .user-card span {
  color: #213f7d;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
}
.users-container .user-details {
  margin-top: 2.5rem;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #39cdcc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.user-table-container {
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #e1e1e1, 0 8px 16px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
}
@media (max-width: 1200px) {
  .user-table-container {
    overflow-x: auto;
  }
}
.user-table-container .user-table {
  border-collapse: collapse;
  text-align: left;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  color: #545f7d;
  position: relative;
}
.user-table-container .user-table th,
.user-table-container .user-table td {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(33, 63, 125, 0.1019607843);
}
.user-table-container .user-table td img {
  margin-left: 1rem;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.user-table-container .user-table th {
  font-weight: 600;
  color: #545f7d;
  text-transform: uppercase;
  font-size: 12px;
}
.user-table-container .user-table th .header-with-icon {
  font-size: 12px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.user-table-container .user-table th .header-with-icon img {
  width: 16px;
  height: 10.67px;
}
.user-table-container .user-table tbody .user-table-row {
  position: relative;
}
.user-table-container .user-table tbody tr:hover {
  background-color: #f9f9f9;
}
.user-table-container .user-table .status {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 13px;
}
.user-table-container .user-table .status.active {
  background-color: #f3fff3;
  color: #39cd62;
}
.user-table-container .user-table .status.inactive {
  background-color: #f5f5f5;
  color: #545f7d;
}
.user-table-container .user-table .status.pending {
  background-color: #fff5e5;
  color: #e9b200;
}
.user-table-container .user-table .status.blacklisted {
  background-color: #ffe5e5;
  color: #e4033b;
}
.user-table-container .user-table .filter-panel {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 300px;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 50px;
}
.user-table-container .user-table .filter-panel .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.user-table-container .user-table .filter-panel .form-group label {
  display: inline-block;
  color: #545F7D;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.user-table-container .user-table .filter-panel .form-group input,
.user-table-container .user-table .filter-panel .form-group select {
  padding: 0.6rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 0.9rem;
  color: #545F7D;
  outline: none;
  background-color: #f9fafb;
}
.user-table-container .user-table .filter-panel .form-group input::-moz-placeholder {
  color: #545F7D;
}
.user-table-container .user-table .filter-panel .form-group input::placeholder {
  color: #545F7D;
}
.user-table-container .user-table .filter-panel .form-group input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
  cursor: pointer;
}
.user-table-container .user-table .filter-panel .button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.user-table-container .user-table .filter-panel .button-group button {
  padding: 0.5rem 1.2rem;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
  border: none;
}
.user-table-container .user-table .filter-panel .button-group button:hover {
  opacity: 0.8;
}
.user-table-container .user-table .filter-panel .button-group .reset {
  background-color: #fff;
  border: 1px solid #545F7D;
  color: #545F7D;
}
.user-table-container .user-table .filter-panel .button-group .filter {
  background-color: #39cdcc;
  color: white;
}

.users-actions {
  background-color: #ffffff;
  width: 180px;
  height: 130px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 0 1px #e1e1e1, 0 8px 16px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: -40px;
  top: 60px;
  z-index: 2;
}
.users-actions button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #545f7d;
  background-color: transparent;
  border: none;
  width: 117px;
  height: 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: "work-sans", sans-serif;
}
.users-actions button:hover {
  color: #213f7d;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: #545f7d;
}
@media (max-width: 910px) {
  .pagination-container {
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }
}
.pagination-container .select-container {
  display: flex;
  gap: 10px;
}
.pagination-container .select-container select {
  outline: none;
  background-color: rgba(33, 63, 125, 0.1019607843);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  color: #213f7d;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}
.pagination-container .pagination-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.pagination-container .pagination-buttons button {
  background-color: rgba(33, 63, 125, 0.1019607843);
  border: none;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
}
.pagination-container .pagination-buttons span {
  display: inline-block;
  cursor: pointer;
}

.personalDetails-container {
  width: 80%;
  font-family: "Work Sans", sans-serif;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.personalDetails-container ul {
  list-style-type: none;
}
.personalDetails-container a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.personalDetails-container button {
  font-family: "Work Sans", sans-serif;
  background-color: transparent;
  cursor: pointer;
  width: 170px;
  height: 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .personalDetails-container {
    width: 100%;
  }
}
.personalDetails-container .personal-link-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #545f7d;
}
.personalDetails-container .personal-link-container span {
  display: block;
}
.personalDetails-container .personal-link-container a {
  color: #545f7d;
}
.personalDetails-container .personal-heading-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.personalDetails-container .personal-heading-button-container h3 {
  color: #213f7d;
  font-weight: 500;
}
.personalDetails-container .personal-heading-button-container .button-container {
  display: flex;
  gap: 10px;
}
@media (max-width: 700px) {
  .personalDetails-container .personal-heading-button-container .button-container {
    flex-direction: column;
  }
}
.personalDetails-container .personal-heading-button-container .button-container button:nth-child(1) {
  border: 1px solid #e4033b;
  color: #e4033b;
}
.personalDetails-container .personal-heading-button-container .button-container button:nth-child(2) {
  border: 1px solid #39cdcc;
  color: #39cdcc;
}
.personalDetails-container .personal-profile-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background-color: #fff;
  border-radius: 4px;
  padding: 2rem 2rem 0 2rem;
  width: 100%;
  overflow-x: auto;
}
.personalDetails-container .personal-profile-container .personal-info-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.personalDetails-container .personal-profile-container .personal-info-container .personal-pfp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.personalDetails-container .personal-profile-container .personal-info-container .personal-pfp span {
  display: block;
}
.personalDetails-container .personal-profile-container .personal-info-container .personal-pfp span:nth-child(1) {
  font-size: 26px;
  font-weight: 600;
  color: #213f7d;
}
.personalDetails-container .personal-profile-container .personal-info-container .personal-pfp span:nth-child(2) {
  font-weight: 400;
  color: #545f7d;
  font-size: 14px;
}
.personalDetails-container .personal-profile-container .personal-info-container .personal-ratings {
  font-size: 14px;
  color: #545f7d;
  border-left: 1px solid #545f7d;
  border-right: 1px solid #545f7d;
  padding: 0 2rem;
}
.personalDetails-container .personal-profile-container .personal-info-container .personal-ratings span {
  text-align: center;
}
.personalDetails-container .personal-profile-container .personal-info-container .personal-amount span:nth-child(1) {
  display: block;
  color: #213f7d;
  font-size: 22px;
  font-weight: 500;
}
.personalDetails-container .personal-profile-container .personal-info-container .personal-amount span:nth-child(2) {
  display: block;
  color: #213f7d;
  font-size: 12px;
  font-weight: 400;
}
.personalDetails-container .personal-profile-container .li-container {
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.personalDetails-container .personal-profile-container .li-container li {
  text-align: center;
  width: 16.6666666667%;
  font-size: 16px;
}
.personalDetails-container .personal-profile-container .li-container li .active {
  color: #39cdcc;
}
.personalDetails-container .personal-profile-container .li-container li:has(.active) {
  border-bottom: 2px solid #39cdcc;
}

.personal-details {
  font-family: Arial, sans-serif;
  color: #1d1d1d;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.personal-details .section {
  margin-bottom: 2.5rem;
  border-bottom: 1px solid rgba(33, 64, 125, 0.1411764706);
}
.personal-details .section h2 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #213f7d;
  font-weight: 600;
}
.personal-details .section .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.2rem;
}
.personal-details .section .grid div {
  padding: 1rem;
  border-radius: 6px;
  color: #545f7d;
  font-weight: 500;
  font-size: 16px;
}
.personal-details .section .grid div strong {
  display: block;
  font-weight: 400;
  color: #545f7d;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}/*# sourceMappingURL=global.css.map */