// Universal styles for the application
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/fonts/Avenir\ Next\ LT\ Pro\ Regular.otf"),
    url("../assets/fonts/Avenir\ Next\ LT\ Pro\ Bold.otf") format("opentype");
}
// Body styles
body {
  background-color: #545f7d26;
  // color: #333;
  line-height: 1.6;
}

// Images
img {
  max-width: 100%;
  height: auto;
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// login page styles
.login-page {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: "AvenirNextLTPro", sans-serif;
  .login-image-container {
    height: 100dvh;
    padding: 4rem;
    background-color: #ffffff2e; // Semi-transparent background
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Images in the login image container
    img {
      display: block;
    }

    .logo-container {
      position: absolute;
      top: 70px;
    }
  }

  .login-form-container {
    width: 45%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    line-height: 2.5rem;
    height: 100dvh;

    .login-form {
      height: 100%;
      .login-form-header {
        margin-bottom: 2rem;
      }

      h1 {
        color: #213f7d;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -4%;
      }
      p {
        color: #545f7d;
      }

      input {
        display: block;
        width: 100%;
        height: 50px;
        padding-left: 1rem;
        border-radius: 5px;
        border: 1px solid #545f7d;
        outline: none;
      }
      label {
        display: block;
        margin-top: 1.5rem;
        position: relative;
      }
      input::placeholder {
        color: #545f7d;
      }

      .forgot-password {
        text-decoration: none;
        color: #39cdcc;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 10%;
        font-size: 12px;
      }
      .forgot-password:hover {
        color: #36b8b0;
      }

      .showpassword {
        position: absolute;
        bottom: 10%;
        right: 5%;
        // display: inline-block;
        color: #39cdcc;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 10%;
        text-transform: uppercase;
        cursor: pointer;
      }
      .showpassword:hover {
        color: #36b8b0;
      }

      button {
        width: 100%;
        height: 48px;
        text-transform: uppercase;
        background-color: #39cdcc;
        color: #fff;
        border-radius: 8px;
        border: none;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        margin-top: 2rem;
      }
      button:hover {
        background-color: #36b8b0;
      }
    }
  }
}

// Responsive styles for the login page
@media (max-width: 1200px) {
  .login-page {
    flex-direction: column;
    .login-image-container {
      width: 100%;
      height: 100vh;
      padding: 2rem;
      img {
        width: 100%;
      }
      .login-image-container {
        display: block;
      }
      .logo-container {
        position: static;
      }
    }
    .login-form-container {
      height: 50vh;
      width: 100%;
      padding: 2rem;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// Header styles
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #fff;

  .header-search {
    display: flex;
    width: 400px;
    align-items: center;
    border-radius: 8px;
    // overflow: hidden;
    position: relative;

    .header-search-input {
      border: 1px solid #213f7d;
      flex: 1;
      padding: 10px 15px;
      // border: none;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      outline: none;
      font-size: 14px;
      color: #213f7d;
    }
    .header-search-input::placeholder {
      font-family: "Work Sans", sans-serif;
      color: #213f7d;
    }

    .search-icon {
      background-color: #2fd7de; /* teal button */
      border: 2px solid #2fd7de;
      padding: 10.3px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      right: 2px;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  .header-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    a {
      font-family: "Roboto", sans-serif;
      color: #213f7d;
      font-weight: 400;
      font-size: 14px;
    }
    a:hover {
      color: #21407d8f;
    }
  }

  .avatar-image {
    border-radius: 50%;
  }

  p {
    font-family: "Work Sans", sans-serif;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// Navigation styles
.navigation {
  background-color: #ffffffba;
  padding: 30px;
  font-family: "Work Sans", sans-serif;
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: #213f7d;
  }
  a:hover {
    color: #21407d8f;
  }

  .navigation-list {
    .navigation-select {
      display: flex;
      align-items: center;
      // gap: 15px;
      margin-bottom: 24px;
      select {
        // width: 100%;
        height: 40px;
        border-radius: 8px;
        border: none;
        padding: 0 10px;
        font-size: 14px;
        color: #213f7d;
        background-color: transparent;
        outline: none;
        font-family: "Work Sans", sans-serif;
        cursor: pointer;
      }
    }
    .navigation-dashboard {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 16px;
    }

    .customers-title,
    .business-title,
    .settings-title {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0px;
      color: #545f7d;
      margin: 10px 0;
    }
    .navigation-customers {
      display: flex;
      gap: 15px;
      margin-bottom: 16px;
      font-size: 16px;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
/// User styles
.users-container {
  font-family: "Work Sans", sans-serif;
  padding: 60px 30px;

  .users-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-bottom: 50px;
    color: #213f7d;
  }
  .userscard-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  /// user card styles
  .user-card {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #213f7d0f;
    text-transform: uppercase;
    width: 240px;
    height: 160px;
    padding: 20px;

    p {
      color: #545f7d;
      font-weight: 500;
      font-size: 14px;
      margin: 10px 0;
    }

    span {
      color: #213f7d;
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
    }
  }

  .user-details {
    margin-top: 2.5rem;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// Loader styles
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #39cdcc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// Table styles
.user-table-container {
  padding: 1rem;
  overflow-x: auto;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #e1e1e1, 0 8px 16px rgba(0, 0, 0, 0.05);
  width: 100%; // fixed width for the table container
  overflow-x: auto;
  @media (max-width: 1200px) {
    width: 500px; // responsive width for smaller screens
  }
  .user-table {
    table-layout: fixed; // forces equal-width columns
    border-collapse: collapse;
    text-align: left;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    color: #545f7d;

    th,
    td {
      padding: 12px 16px;
      border-bottom: 1px solid #213f7d1a;
      width: calc(100% / 7);
      word-wrap: break-word; // ensures long text wraps within the cell
    }

    th {
      font-weight: 600;
      color: #545f7d;
      text-transform: uppercase;
      font-size: 12px;
      .header-with-icon {
        font-size: 12px;
        display: flex;
        gap: 10px;
        align-items: center;
        img {
          width: 16px;
          height: 10.67px;
        }
      }
    }

    tbody tr:hover {
      background-color: #f9f9f9;
    }

    .status {
      display: inline-block;
      padding: 4px 12px;
      border-radius: 12px;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 13px;

      &.active {
        background-color: #f3fff3;
        color: #39cd62;
      }

      &.inactive {
        background-color: #f5f5f5;
        color: #545f7d;
      }

      &.pending {
        background-color: #fff5e5;
        color: #e9b200;
      }

      &.blacklisted {
        background-color: #ffe5e5;
        color: #e4033b;
      }
    }
  }
}

// pagination styles
.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: #545f7d;

  .select-container {
    display: flex;
    gap: 10px;
    select {
      outline: none;
      background-color: #213f7d1a;
      border: none;
      border-radius: 4px;
      padding: 8px 12px;
      color: #213f7d;
      font-weight: 500;
      font-family: "Work Sans", sans-serif;
      cursor: pointer;
    }
  }
  .pagination-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    button {
      background-color: #213f7d1a;
      border: none;
      border-radius: 4px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      font-family: "Work Sans", sans-serif;
    }
    span {
      display: inline-block;
      cursor: pointer;
    }
  }
}
