// Universal styles for the application
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../assets/fonts/Avenir\ Next\ LT\ Pro\ Regular.otf"),
    url("../assets/fonts/Avenir\ Next\ LT\ Pro\ Bold.otf") format("opentype");
}
// Body styles
body {
  background-color: #545f7d26;
  // color: #333;
  line-height: 1.6;
}

// Images
// img {
//   max-width: 100%;
//   height: auto;
// }

///////////////////////////////////////////////////////////////////////////////////////////////////
// login page styles
.login-page {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-family: "AvenirNextLTPro", sans-serif;
  .login-image-container {
    height: 100dvh;
    padding: 4rem;
    background-color: #ffffff2e; // Semi-transparent background
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Images in the login image container
    img {
      display: block;
    }

    .logo-container {
      position: absolute;
      top: 70px;
    }
  }

  .login-form-container {
    width: 45%;
    padding: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    line-height: 2.5rem;
    height: 100dvh;

    .login-form {
      height: 100%;
      .login-form-header {
        margin-bottom: 2rem;
      }

      h1 {
        color: #213f7d;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -4%;
      }
      p {
        color: #545f7d;
      }

      input {
        display: block;
        width: 100%;
        height: 50px;
        padding-left: 1rem;
        border-radius: 5px;
        border: 1px solid #545f7d;
        outline: none;
      }
      label {
        display: block;
        margin-top: 1.5rem;
        position: relative;
      }
      input::placeholder {
        color: #545f7d;
      }

      .forgot-password {
        text-decoration: none;
        color: #39cdcc;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 10%;
        font-size: 12px;
      }
      .forgot-password:hover {
        color: #36b8b0;
      }

      .showpassword {
        position: absolute;
        bottom: 10%;
        right: 5%;
        // display: inline-block;
        color: #39cdcc;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 10%;
        text-transform: uppercase;
        cursor: pointer;
      }
      .showpassword:hover {
        color: #36b8b0;
      }

      button {
        width: 100%;
        height: 48px;
        text-transform: uppercase;
        background-color: #39cdcc;
        color: #fff;
        border-radius: 8px;
        border: none;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        margin-top: 2rem;
      }
      button:hover {
        background-color: #36b8b0;
      }
    }
  }
}

// Responsive styles for the login page
@media (max-width: 1200px) {
  .login-page {
    flex-direction: column;
    .login-image-container {
      width: 100%;
      height: 100vh;
      padding: 2rem;
      img {
        width: 100%;
      }
      .login-image-container {
        display: block;
      }
      .logo-container {
        position: static;
      }
    }
    .login-form-container {
      height: 50vh;
      width: 100%;
      padding: 2rem;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// Header styles
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #fff;

  @media (max-width: 870px) {
    flex-direction: column;
    row-gap: 10px;
  }

  .header-search {
    display: flex;
    width: 400px;
    @media (max-width: 500px) {
      width: 100%;
    }
    align-items: center;
    border-radius: 8px;
    // overflow: hidden;
    position: relative;

    .header-search-input {
      border: 1px solid #213f7d;
      flex: 1;
      padding: 10px 15px;
      // border: none;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      outline: none;
      font-size: 14px;
      color: #213f7d;
    }
    .header-search-input::placeholder {
      font-family: "Work Sans", sans-serif;
      color: #213f7d;
    }

    .search-icon {
      background-color: #2fd7de; /* teal button */
      border: 2px solid #2fd7de;
      padding: 10.3px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      right: 2px;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  .header-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    a {
      font-family: "Roboto", sans-serif;
      color: #213f7d;
      font-weight: 400;
      font-size: 14px;
    }
    a:hover {
      color: #21407d8f;
    }
  }

  .avatar-image {
    border-radius: 50%;
  }

  p {
    font-family: "Work Sans", sans-serif;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
/// Menu styles
.menu {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  @media (min-width: 1200px) {
    display: none;
  }
}
.menu div {
  background-color: #213f7d;
  width: 20px;
  height: 4px;
  border-radius: 4px;
}
@media (max-width: 1200px) {
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// Navigation styles
.navigation {
  background-color: #ffffffba;
  font-family: "Work Sans", sans-serif;
  width: 20%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1200px) {
    padding-top: 40px;
    // padding-right: 20px;
    position: absolute;
    background-color: rgb(241, 241, 241);
    z-index: 1;
    width: 60%;
  }
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: #213f7d;
  }
  a:hover {
    color: #21407d8f;
  }

  .navigation-list {
    li {
      padding-left: 10px;
    }
    .navigation-select {
      display: flex;
      align-items: center;
      // gap: 15px;
      margin-bottom: 24px;
      select {
        // width: 100%;
        height: 40px;
        border-radius: 8px;
        border: none;
        padding: 0 10px;
        font-size: 14px;
        color: #213f7d;
        background-color: transparent;
        outline: none;
        font-family: "Work Sans", sans-serif;
        cursor: pointer;
      }
    }
    .navigation-dashboard {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 16px;
    }

    .customers-title,
    .business-title,
    .settings-title {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0px;
      color: #545f7d;
      margin: 10px 0;
      padding-left: 10px;
    }
    .navigation-customers {
      display: flex;
      gap: 15px;
      margin-bottom: 16px;
      font-size: 16px;
    }
    .navigation-customers:has(.active) {
      border-left: 3px solid #39cdcc;
      background-color: rgba(55, 205, 205, 0.147);
    }
  }
  .navigation-footer {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #213F7D;
    border-top: 1px solid #21407d1d;
    div  a{
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      width: 80px;
      gap: 10px;
      cursor: pointer;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
/// User styles
.users-container {
  font-family: "Work Sans", sans-serif;
  padding: 60px 30px;
  width: 80%;
  @media (max-width: 1200px) {
    width: 100%;
  }
  display: flex;
  flex-direction: column;

  .users-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-bottom: 50px;
    color: #213f7d;
  }
  .userscard-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
  }
  /// user card styles
  .user-card {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #213f7d0f;
    text-transform: uppercase;
    width: 240px;
    height: 160px;
    padding: 20px;
    @media (max-width: 1200px) {
      width: 100%;
    }

    p {
      color: #545f7d;
      font-weight: 500;
      font-size: 14px;
      margin: 10px 0;
    }

    span {
      color: #213f7d;
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
    }
  }

  .user-details {
    margin-top: 2.5rem;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// Loader styles
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #39cdcc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// Table styles
.user-table-container {
  // display: none;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #e1e1e1, 0 8px 16px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 1rem;
  width: 100%;
  @media (max-width: 1200px) {
    overflow-x: auto;
  }

  .user-table {
    // table-layout: fixed; // forces equal-width columns
    border-collapse: collapse;
    text-align: left;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    color: #545f7d;
    position: relative;

    th,
    td {
      padding: 12px 16px;
      border-bottom: 1px solid #213f7d1a;
    }

    td {
      img {
        margin-left: 1rem;
        cursor: pointer;
        width: 16px;
        height: 16px;
      }
    }

    th {
      font-weight: 600;
      color: #545f7d;
      text-transform: uppercase;
      font-size: 12px;
      .header-with-icon {
        font-size: 12px;
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        img {
          width: 16px;
          height: 10.67px;
        }
      }
    }
    tbody .user-table-row {
      position: relative;
    }
    tbody tr:hover {
      background-color: #f9f9f9;
    }

    .status {
      display: inline-block;
      padding: 4px 12px;
      border-radius: 12px;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 13px;

      &.active {
        background-color: #f3fff3;
        color: #39cd62;
      }

      &.inactive {
        background-color: #f5f5f5;
        color: #545f7d;
      }

      &.pending {
        background-color: #fff5e5;
        color: #e9b200;
      }

      &.blacklisted {
        background-color: #ffe5e5;
        color: #e4033b;
      }
    }

    // Filter panel styles
    .filter-panel {
      background-color: #fff;
      padding: 1.5rem;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      width: 300px;
      font-family: Arial, sans-serif;
      position: absolute;
      top: 50px;
      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label {
          display: inline-block;
          color: #545F7D;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 0.4rem;
        }

        input,
        select {
          padding: 0.6rem 0.75rem;
          border: 1px solid #d1d5db;
          border-radius: 8px;
          font-size: 0.9rem;
          color: #545F7D;
          outline: none;
          background-color: #f9fafb;
        }
        input::placeholder {
          color: #545F7D;
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
          filter: invert(0.5);
          cursor: pointer;
        }
      }

      .button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        button {
          padding: 0.5rem 1.2rem;
          font-size: 14px;
          font-weight: 600;
          border-radius: 8px;
          font-family: 'Work Sans', sans-serif;
          cursor: pointer;
          border: none;
        }
        button:hover {
          opacity: 0.8;
        }

        .reset {
          background-color: #fff;
          border: 1px solid #545F7D;
          color: #545F7D;
        }

        .filter {
          background-color: #39cdcc;
          color: white;
        }
      }
    }
  }
}

// Users Action Styles
.users-actions {
  background-color: #ffffff;
  width: 180px;
  height: 130px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 0 0 1px #e1e1e1, 0 8px 16px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: -40px;
  top: 60px;
  z-index: 2;
  button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #545f7d;
    background-color: transparent;
    border: none;
    width: 117px;
    height: 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: "work-sans", sans-serif;
  }
  button:hover {
    color: #213f7d;
  }
}

// pagination styles
.pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: #545f7d;
  @media (max-width: 910px) {
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }

  .select-container {
    display: flex;
    gap: 10px;
    select {
      outline: none;
      background-color: #213f7d1a;
      border: none;
      border-radius: 4px;
      padding: 8px 12px;
      color: #213f7d;
      font-weight: 500;
      font-family: "Work Sans", sans-serif;
      cursor: pointer;
    }
  }
  .pagination-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    button {
      background-color: #213f7d1a;
      border: none;
      border-radius: 4px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      font-family: "Work Sans", sans-serif;
    }
    span {
      display: inline-block;
      cursor: pointer;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
// Personal Details styles
.personalDetails-container {
  // General style for all element in the personalDetails-container
  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: #000000cc;
  }
  button {
    font-family: "Work Sans", sans-serif;
    background-color: transparent;
    cursor: pointer;
    width: 170px;
    height: 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
  }
  // styles
  width: 80%;
  font-family: "Work Sans", sans-serif;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  @media (max-width: 1200px) {
    width: 100%;
  }
  .personal-link-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #545f7d;
    span {
      display: block;
    }
    a {
      color: #545f7d;
    }
  }
  .personal-heading-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      color: #213f7d;
      font-weight: 500;
    }
    // Button styles
    .button-container {
      display: flex;
      gap: 10px;
      @media (max-width: 700px) {
        flex-direction: column;
      }
      button:nth-child(1) {
        border: 1px solid #e4033b;
        color: #e4033b;
      }
      button:nth-child(2) {
        border: 1px solid #39cdcc;
        color: #39cdcc;
      }
    }
  }

  .personal-profile-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    background-color: #fff;
    border-radius: 4px;
    padding: 2rem 2rem 0 2rem;
    width: 100%;
    overflow-x: auto;

    .personal-info-container {
      display: flex;
      align-items: center;
      gap: 20px;
      .personal-pfp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        span {
          display: block;
        }
        span:nth-child(1) {
          font-size: 26px;
          font-weight: 600;
          color: #213f7d;
        }
        span:nth-child(2) {
          font-weight: 400;
          color: #545f7d;
          font-size: 14px;
        }
      }
      .personal-ratings {
        font-size: 14px;
        color: #545f7d;
        border-left: 1px solid #545f7d;
        border-right: 1px solid #545f7d;
        padding: 0 2rem;
        span {
          text-align: center;
        }
      }
      .personal-amount {
        span:nth-child(1) {
          display: block;
          color: #213f7d;
          font-size: 22px;
          font-weight: 500;
        }
        span:nth-child(2) {
          display: block;
          color: #213f7d;
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
    .li-container {
      display: flex;
      justify-content: space-around;
      column-gap: 20px;
      li {
        text-align: center;
        width: calc(100% / 6);
        font-size: 16px;
        .active {
          color: #39cdcc;
        }
      }
      li:has(.active) {
        border-bottom: 2px solid #39cdcc;
      }
    }
  }
}

// user details styles
.personal-details {
  font-family: Arial, sans-serif;
  color: #1d1d1d;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  .section {
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #21407d24;
    h2 {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      color: #213f7d;
      font-weight: 600;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 1.2rem;

      div {
        padding: 1rem;
        border-radius: 6px;
        color: #545f7d;
        font-weight: 500;
        font-size: 16px;

        strong {
          display: block;
          font-weight: 400;
          color: #545f7d;
          font-size: 12px;
          text-transform: uppercase;
          margin-bottom: 0.3rem;
        }
      }
    }
  }
}
